<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="index">
        <div class="overlay">
        <div class="body">
            <div class="container" style="
text-align: center">
        <h1 >Welcome &nbsp; &nbsp;  {{foundUser.username}}!</h1>
        <h1 > NotesPage</h1>
        </div>
        <div class="footer" style="margin-top:50vh">
            <div class="line"></div>
            <div ><a href="/userProfile/{{foundUser._id}}">current user : {{foundUser.username}}</a></div>
        </div>
    </div>
    </div>
</body>

</html>